{% if items_page.has_other_pages %}
    <div class="col-6 offset-3 text-center pagination-set">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if items_page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{items_page.previous_page_number}}"><<</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            <span><<</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in page_range %}
                    {% if items_page.number == i %}
                        <li class="page-item active">
                            <a class="page-link " href="#">{{i}} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}   
                
                {% if items_page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{items_page.next_page_number}}" aria-label="Next">>></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            <span>>></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% else %}
{% endif %}